.pricing{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;

}

.pricing img{
    max-width: 127px;
}

.pricing-title{
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.pricing-text{
    margin-bottom: 1.5rem;
    font-size: 20px;
    font-weight: 400;
    padding: 2rem;
}

@media(max-width:992px){
    .pricing{
        flex-wrap: wrap;
        text-align: left;
        justify-content: flex-start;
        align-items: stretch;
        max-width: 600px;
        padding-left: 50px;
    }
    .pricing-text{
        padding: 0rem;
    }
}